﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fashion Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm fixed-top navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #e3690b;">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-tshirt"></i> FashionStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Accueil</a>
                        </li>
                        <li class="nav-item">
                            <form class="navbar-nav" asp-controller="Product" asp-action="Search" method="get">
                                <input type="text" class="form-control" placeholder="Recherche d'un produit" name="searchString" value="@ViewData["searchString"]">
                            </form>
                        </li>
                        @if (!User.IsInRole("Admin"))
                        { @await Component.InvokeAsync("CategoryMenu")

                          <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="ShoppingCart" asp-action="Index"><i class="fas fa-shopping-cart"></i></a>
                           </li>
                        }
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        { <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Menu
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-controller="Category" asp-action="Index">Gérer les catégories</a></li>                       
                                    <li><a class="dropdown-item" asp-controller="Product" asp-action="Index">Gérer les produits</a></li>
                                    <li class="dropright-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Gérer les utilisateurs</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Index">Role</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="AssignUserRole">Utilisateurs</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        }

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - FashionStore - <a asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

    <script>
        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
            }
            var $subMenu = $(this).next('.dropdown-menu');
            $subMenu.toggleClass('show');


            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                $('.dropdown-submenu .show').removeClass('show');
            });


            return false;
        });
    </script>
