﻿@model Product
@{var photoPath = "~/images/" + (Model.imageUrl ?? "noimage.jpg"); }
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@photoPath" asp-append-version="true" height="100" width="100" />
            <div class="caption">
                <h3 class="pull-right">@Model.price</h3>
                <h3>
                    <a asp-controller="Drink" asp-action="Details" asp-route-id="@Model.id">@Model.name</a>
                </h3>
                <p>@Model.description</p>
            </div>
            <div class="addToCart text-right">
                <p class="button ">
                    <a class="btn btn-success " id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-id="@Model.id">
                        Ajouter au panier
                    </a>
                </p>
            </div>
        </div>
    </div>