﻿@model Product
@{var photoPath = "~/images/" + (Model.imageUrl ?? "noimage.jpg"); }
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="card">
        <div style="text-align: center">
            <img src="@photoPath" asp-append-version="true" height="300px" width="200px" />
        </div>
        <div class="caption">
            <center>
                <h4>
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.id">@Model.name</a>
                </h4>
                <h5 class="pull-right">@Model.price DT</h5>
                <p>@Model.description</p>
            </center>
        </div>
        <div class="addToCart text-right">
            <p class="button" style="text-align: center">
                <a  asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-id="@Model.id" class="btn btn-success" id="cartButton">
                    <i class="fas fa-shopping-cart"></i> Ajouter au panier 
                </a>
            </p>
        </div>
    </div>
</div>
