﻿@model ecommerce.Models.Category

@{
    ViewData["Title"] = "Delete";
}
<br/>
<br />
<br />
<h4>Supprimer</h4>
<hr/>
<h3>Vous êtes sûr de supprimer cette catégorie?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
