﻿@model IEnumerable<ecommerce.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<br />
<p>
    <a asp-action="Create">Ajouter une catégorie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
