﻿<br />
<br />
<br />
<br />
<br /><br />

<div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    @ViewBag.CheckoutCompleteMessage
</div>