﻿@model ecommerce.ViewModels.ShoppingCartViewModel

<div class="row checkoutForm">
    <h2>Votre panier</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nombre d'article</th>
                <th>Article</th>
                <th class="text-right">Prix</th>
                <th class="text-right">Sous total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@line.Amount</td>
                    <td class="text-left">@line.product.name</td>
                    <td class="text-right">@line.product.price DT</td>
                    <td class="text-right">
                        @((line.Amount * line.product.price)) DT
                    </td>
                    <td class="text-center">
                      
                        <a  asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart"  asp-route-id="@line.product.id" class="btn btn-danger" id="cartButton">
                            <i class="fas fa-trash-alt"></i> 
                        </a>

                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal DT
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-outline-success" asp-controller="Order" asp-action="Checkout"> <i class="fas fa-check-circle "></i> Valider la commande </a>
            
                <div class="btn-group">
                    <a class="btn btn-outline-dark" asp-controller="Product" asp-action="Index">
                        <i class="fas fa-arrow-alt-circle-left"></i> Ajouter plus de produits
                    </a>

                </div>
        </div>
    </div>
</div>