﻿@model ecommerce.Models.Product
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/" + (Model.imageUrl ?? "noimage.jpg");
}
<br />
<br/>
<br/>
<h4>Détails</h4>
<hr />
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div>
    
        <dl class="row">
            <dt class="col-sm-2">
                <label><b>Photo</b> </label>
            </dt>
            <dd class="col-sm-10">
                <div class="card-body text-left">
                    <img src="@photoPath" asp-append-version="true" height="100" width="100" />
                </div>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.quantity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.category.name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.category.name)
            </dd>

        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
<!--Interface Pour le client-->
@if ((SignInManager.IsSignedIn(User) && !User.IsInRole("Admin")) || !SignInManager.IsSignedIn(User))


{
    <div class="container marginTop">
        <div class="row">
            <div class="card">
                <div class="text-center view overlay hm-white-slight">
                    <img src="@photoPath" class="img-fluid" asp-append-version="true" height="100" width="100" />

                </div>
                <div class="card-block" style="text-align: center">
                    <!--Title-->
                    <h5 class="card-title"> @Html.DisplayFor(model => model.name)</h5>
                    <h5 class="card-title"> @Html.DisplayFor(model => model.price)</h5>
                    <!--Text-->
                    <p class="card-text">@Html.DisplayFor(model => model.description)</p>
                    <p class="btn btn-group pull-right">
                        <a class="btn btn-secondary" id="cartButton" asp-controller="Product" asp-action="Index"><i class="fa fa-arrow-alt-circle-left"> Ajouter plus de produits</i></a>
                        <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-id="@Model.id" class="btn btn-success" id="cartButton">
                            <i class="fas fa-shopping-cart"></i> Ajouter au panier
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
}