﻿@model ecommerce.ViewModels.ProductEditViewModel

@{
    ViewData["Title"] = "Edit";
    var photoPath = "~/images/" + (Model.ExistingimageUrl ?? "noimage.jpg");
}

<br/>
<br />
<br />
<h4>Modifier le produit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Product" enctype="multipart/form-data" method="post" class="mt-3">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <input hidden asp-for="ExistingimageUrl" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isNewCollection" /> @Html.DisplayNameFor(model => model.isNewCollection)
                </label>
            </div>
            <div class="form-group row">
                <label asp-for="categoryId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="categoryId" class="custom-select mr-sm-2"
                            asp-items="ViewBag.categoryId">
                    </select>
                    <span asp-validation-for="categoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Photo" class="custom-file-input form-control">
                        <label class="custom-file-label">cliquer ici pour changer la photo</label>
                    </div>
                </div>
            </div>
            <div class="form-group row col-sm-4 offset-4">
                <img src="@photoPath" asp-append-version="true" height="100" width="100" />
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-action="index" asp-controller="Product" class="btn btn-primary">Cancel</a>
                </div>
            </div>


            <div>
                <a asp-action="Index">Back to List</a>
            </div>


            @section Scripts {
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName);
                        });
                    });
                </script>
            }
        </form>
    </div>
</div>
