﻿@model IEnumerable<ecommerce.Models.Product>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<h4>Liste des produits</h4>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary m-1" asp-action="Create">Ajouter un produit</a>
    </p>
}
<hr/>
<div class="card-deck">
    @foreach (var product in Model)
    {
        var photoPath = "~/images/" + (product.imageUrl ?? "noimage.jpg");


        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <img class="card-img-top imageThumbnail" height="400px" width="300px" src="@photoPath"
                 asp-append-version="true" />
            <div class="card-header" style="text-align: center">
                <h5>@product.name</h5>
                <h5>@product.price DT</h5>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <h5><b>quantité disponible: </b>@product.quantity</h5>
                }

            </div>



            <div class="card-footer text-center">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.id"
                   class="btn btn-primary m-1"><i class="fas fa-eye"></i> Voir détails</a>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-controller="Product" class="btn btn-primary m-1" asp-route-id="@product.id"><i class="fas fa-edit"></i>Modifier</a>
                    <a asp-action="Delete" asp-controller="Product" class="btn btn-danger m-1" asp-route-id="@product.id"><i class="fas fa-trash-alt"></i>Supprimer</a>

                }
                else
                {
                    <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-id="@product.id" class="btn btn-success" id="cartButton">
                        <i class="fas fa-shopping-cart"> Ajouter au panier</i>
                    </a>
                }
            </div>
        </div>
    }
</div>