﻿@model ecommerce.ViewModels.ProductsListViewModel

<br/><br/><br/>
<div class="row marginTop">
    @foreach (Product product in Model.products)
    {
        @Html.Partial("ProductsSummary", product)
    }
</div>
