﻿@model ecommerce.ViewModels.HomeViewModel
<br /><br />
@await Html.PartialAsync("Carousel")
<center>
    <h2>Nouvelle collection</h2>
</center>
<div class="row">
    @foreach (var product in Model.NewCollectionProducts)
    {
        @Html.Partial("ProductsSummary",product)
    }
</div>