﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <br/>
    <br/>
    <br/>
    <br/>
    <h1 class="text-danger">Accès interdit!</h1>
    <h6 class="text-danger">Votre compte n'est pas encore activé.</h6>
</header>
