﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<br/>
<br/>
<br/>
<div class="card" style="width: 28rem; margin: 0 auto; float: none; margin-bottom: 10px;" >

    <div class="card-body">
        <section class="card-text">
            <form method="post">
                <h4 class="text-center">Log in</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="card-text">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="card-text">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="card-text">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

</div>
   
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
