﻿<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Produits
    </a>
    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li>
                <a class="dropdown-item" asp-controller="Product" asp-action="List"
                   asp-route-category="@category.name">@category.name</a>
            </li>
        }

        <li>
            <a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category="">Voir tous les produits</a>
        </li>
    </ul>
</li>