﻿
@{
    ViewData["Title"] = "Delete";
}

<br />
<br /><br />
<h2 class="text-info">Add New User</h2>
<form asp-action="Delete" method="post" id="role-form" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <h3>Do you want to delete ?</h3>
        <div class="form-group row">
            <div class="col-2">
                <label>Role Name</label>
            </div>
            <input type="hidden" value="@ViewBag.id" name="id" />
            <div class="col-5">
                <input id="name" readonly="readonly" name="name" required="required" value="@ViewBag.name" class="form-control" />
            </div>

        </div>


        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Delete" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>$(document).ready(function () {
        $("#user-form").validate({
    rules: {
      UserName : {
        required: true,
             },
      PasswordHash : {
        required: true,
             }
            },
            messages: {
                UserName: "Enter your email",
PasswordHash:"Enter your password"
            }

  });
    });</script>
}



